.qoute-contianer {
  min-height: 200px;
  text-align: center;
  padding: 1%;
  border: 1px solid #6767fc;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 5px 10px 18px #888;
}

.error {
  color: red;
}
